logs
target
*.DS_Store
/.tmpBin
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
*.iml
/build
/.gradle
gradle.properties
/classes
/local-test-config.txt
test.txt
workbench.xml
workbenchExport.nessus
/out